@media (min-width: 400px)
{

	body{
		background-color: yellow;
	}
	
	nav.nav-bar > div.logo{
	background: green;
	}
}
@media (min-width: 500px)
{

	body{
		background-color: green;
	}
	
}
@media (max-width: 500px)
{

	nav.nav-bar{
		flex-direction: column;
	}

	aside.side-bar{
		display: none;
	}
}
