body{

	font-family: sans-serif;
	background: #f5f5f5;
}


img.favicon{
	border-radius: 100px;
	height: 90px;
	width: 100%;
	margin-bottom: 10px;
	
}
section.main-section{

	display: flex;
	width: 100%;
}
section.main-content{

	height: 100%;
	background: #ccc;
	width: 100%;
}

aside.side-bar{
	height:700px;
	background: #ccc;
	margin-left:15px;
	width: 30%;
	display: flex;
	flex-direction: column;
	padding: 5px;
}

aside.side-bar > div{
	flex-basis: :250px;
	background: #1a5ce0;
	margin-bottom: 10px;
	
}

div.side-widget{
	height: 250px;
	display: flex;
	flex-direction: column;
	padding: 5px;
	
}

div.side-widget > div{
	background: silver;
}

div.side-widget > div.widget-title{
	height: 20%;
	margin-bottom: 5px;
}

div.side-widget > div.widget-body{
	height: 80%;
	
}

article.main-blog{

	background: #eee;
	height:450px;
	padding: 15px;

}

div.main-blog-bg{
	
	background: #33ab77;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 5px;
	justify-content: space-around;
	align-items: center;

}

div.main-blog-bg > div{
background: #eee;
height: 50px;
margin-bottom: 5px;
width: 30%;

}


div.comments-section{
	height:350px;
	background: #33ab77;
	margin-left:5px;
	margin-bottom: 5px;
	display: flex;
	padding: 5px;
}

div.comments-section > div{
	flex-basis: :350px;
	background: #1a5ce0;
	margin-bottom: 10px;
}

div.share-widget{
	width: 30%;
}
div.share-widget > img.social{

	border-radius: 50px;
	height: 50%;
	width: 50%;
	margin-bottom: 10px;
}

div.comments-widget{
	
	display: flex;
	width: 70%;
	margin-left: 5px;
	flex-direction: column;
	padding: 15px;
	

}

div.comments-widget > div.comments-title{
	height: 20%;
	background: #ccc;
	margin-bottom: 5px;
}
div.comments-widget > div.comments-body{
	height: 80%;
	background: white;

}

div.sponsored-section{
	height:350px;
	background: #33ab77;
	margin-left:5px;
	margin-bottom: 5px;
	display: flex;
	padding: 5px;
}

div.sponsored-section > div{
	flex-basis: :350px;
	background: #1a5ce0;
	margin-bottom: 10px;
}

div.sponsored-widget{
	display: flex;
	margin-left: 5px;
	flex-direction: column;
	padding: 15px;
	width: 30%;
}

div.sponsored-widget > div.sponsored-title{
	height: 20%;
	background: #ccc;
	margin-bottom: 5px;
}

div.sponsored-widget > div.sponsored-body{
	height: 80%;
	background: #ccc;
	margin-bottom: 5px;
}
nav.nav-bar{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background:#ccc;
	height:100px;
	margin-bottom: 10px;
	width: 100%;
}
nav.nav-bar > div{
	flex-basis: 100px;
	background-color: #33ab77;
	display: flex;
	align-items: center;
	justify-content: center;


}
nav.nav-bar > div.logo{
	background: white;
}

nav.nav-bar > div.search{
	flex-grow: 1;
	flex-shrink: 1;
	background: green;
	margin-left: auto;
}
div.nav-bar > div.home-page{
	background: blue;
	margin-left: 5px;
	
}

nav.nav-bar > div.signin{
	background: red;
	margin-left: 5px;

}

nav.nav-bar > div.signup{
	background: black;
	color: white;
	margin-left: 5px;
}

